.row{
    display: flex;
}

.addressCard{
    background: #fcfcfc;
    border-radius: 16px;
    padding: 16px 32px;
    margin-top: 16px;
    box-shadow: 3px 3px 3px rgba(20,20,20, .3);
p{
    margin: 0 4px;
}
}

.moreDetail{
    margin:0px 12px;
}