<div class="addressCard">
  <div class="row">
    <p>Name:</p>
    <p>{{ addressDetail.name }}</p>
  </div>
  <div class="row">
    <p>Address:</p>
    <p>{{ addressDetail.address }}</p>
  </div>
  <div class="row">
    <p>Latitude:</p>
    <p>{{ addressDetail.latitude }}</p>
  </div>
  <div class="row">
    <p>Longiture:</p>
    <p>{{ addressDetail.longiture }}</p>
  </div>
  <button mat-raised-button class="moreDetail" (click)="moreDetail(addressDetail.id)" *ngIf="showMoreDetail">
    More detail
  </button>
  <button mat-raised-button class="moreDetail" (click)="edit(addressDetail.id)" *ngIf="showEdit">
    edit
  </button>

  <ng-content select=".addFavorite"></ng-content>
</div>
