<div class="login">
  <div class="loginForm">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h1>LOGIN</h1>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          placeholder="Ex. pat@example.com"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          placeholder="password ..."
          type="password"
        />
      </mat-form-field>

      <button mat-raised-button color="primary">login</button>
    </form>
  </div>
</div>
