.favoriteAddress{
    h1{
        text-align: center;
        margin: 32px auto;
    }
}
.addressList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 40%;
    margin: auto;
}

.addressCard{
    margin: 0 8px;
    width: 100%;
}

