<div class="favoriteAddress">
  <h1>Favorite Address</h1>
  <div class="addressList">
    <address-card
      class="addressCard"
      *ngFor="let address of favoriteList"
      [addressDetail]="address"
    >
    </address-card>
  </div>
</div>
