.mapContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}
#map{
    height: 500px;
    width: 80%;
    margin:32px auto;
    border-radius: 16px;
  }