<div class="profile">
  <div class="container">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <h1>User Info</h1>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          placeholder="Ex. pat@example.com"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>name</mat-label>
        <input matInput formControlName="name" placeholder="name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>phone number</mat-label>
        <input
          matInput
          formControlName="phoneNumber"
          placeholder="phone number"
        />
      </mat-form-field>
      <button mat-raised-button color="primary">Edit</button>
    </form>
  </div>
</div>
