<mat-drawer-container class="container" autosize>
  <p class="email" *ngIf="isLoggedIn" [routerLink]="['/profile']">{{ userInfo.email }}</p>
  <mat-drawer #drawer class="sidenav" mode="side">
    <p [routerLink]="['/']">Home</p>
    <p [routerLink]="['/favorite']">Favorite</p>
    <p [routerLink]="['/addPublicAddress']">Add address</p>
    <p [routerLink]="['/login']" *ngIf="!isLoggedIn">Login</p>
    <p
      class="logout"
      *ngIf="isLoggedIn"
      class="loggedOut"
      (click)="loggedOut()"
    >
      logout
    </p>
  </mat-drawer>

  <div class="example-sidenav-content">
    <img
      src="assets/image/hamburger.png"
      class="hamburgerMenu"
      (click)="drawer.toggle()"
      alt="hamburger menu"
    />
  </div>
  <router-outlet></router-outlet>
</mat-drawer-container>
