.container {
  width: 100%;
  height: 100%;
}

.sidenav {
  padding: 32px 64px;
  p {
    cursor: pointer;
  }
}

.hamburgerMenu {
  width: 32px;
  margin-left: 16px;
  margin-top: 12px;
  cursor: pointer;
}

.loggedOut {
  position: absolute;
  bottom: 32px;
  text-align: center;
}

p{
  outline: none;
}

.email{
  position: absolute;
  right: 32px;
  top:12px;
  cursor: pointer;
}