<div class="addPublicAddress">
  <div class="publicAddressForm">
    <form [formGroup]="publicAddressForm" (ngSubmit)="onSubmit()">
      <h1><span *ngIf="isEdit">Edit</span>
        <span *ngIf="!isEdit">Add</span>
         Public Address Form</h1>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" />
      </mat-form-field>
      <button mat-raised-button color="primary">
        Submit
      </button>
    </form>
    <map (coordinate)="getCoordinate($event)" *ngIf="latlng" [latlng]="latlng"></map>
  </div>
</div>
