.addPublicAddress {
  min-height: 100vh;
  background: #fcfcfc;
}

.publicAddressForm form {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 30%;
  margin: auto;
  h1 {
    margin-top: 32px;
  }
}