.publicAddress{
    h1{
        text-align: center;
        margin: 32px auto;
    }
}
.addressDetail{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    margin: auto;
}