<div class="publicAddress">
  <h1>Public Address Detail</h1>
  <div class="addressDetail">
    <address-card *ngIf="address" class="addressCard" [addressDetail]="address">
    </address-card>
  </div>
  <map *ngIf="latlng" [latlng]="latlng"></map>
</div>
