.publicAddress{
    h1{
        text-align: center;
        margin: 32px auto;
    }
}
.addressList{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    margin: auto;
}

.addressCard{
    margin: 0 8px;
}

.addFavorite{
    background: rgb(174, 233, 189);
    margin-top: 12px;
}