<div class="publicAddress">
  <h1>Public Address</h1>
  <div class="addressList">
    <address-card
      class="addressCard"
      *ngFor="let address of publicList"
      [addressDetail]="address"
    >
      <button
        mat-raised-button
        class="addFavorite"
        (click)="addToFavorite(address)"
      >
        Add to favorite
      </button>
    </address-card>
  </div>
</div>
